body {
    margin: 0 auto;
    text-align: center;
    font-family: Geneva;
}
h1 {
    font-weight: 900;
    font-size: 80px;
}
main {
    margin: 0 auto;
    text-align: center;
}
button {
    width: 93px;
    padding: 20px;
    color: white;
    background: gray;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 50px;
}
button:hover {
    color: gray;
    background: white;
}

input {
    width: 93px;
    padding: 20px;
    padding-left: 40px;
    color: black;
    background: white;
    border: 2px solid gray;
    text-align: center;
    border-radius: 10px;
    font-size: 50px;
}


}
